%h1= @title

%div{ :id => 'timeline1' }

%table{:class => 'table table-condensed'}
  %thead
    %th= 'Team'
    %th= 'Streak'
    %th= 'End'
  %tbody
    - @results.each do |result|
      %tr
        %td= result[0]
        %td= result[1]
        %td= result[2]
